@import "styles/globals.scss";

$_marginBetweenCards: 1rem;
.ProductCard {
  // min-height: 300px;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1%;
  width: 48%;

  @include bp(xxl) {
    margin-right: 1%;
    width: 23%;
  }

  border: 1px solid transparent;
  font-size: 16px;
  transition: box-shadow 120ms;
  cursor: pointer;
  
  &:hover {
    border: 1px solid purple;
    box-shadow: 6px 6px 0 0 purple;
  }
}

.largerView {
  @include bp(xl) {
    width: 31%;
  }
}

.productImageWrapper {
  height: 150px;
  min-width: 80%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.productBrand {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.2rem;
}

.productTitle {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.productPrice {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
}
