.adminPalette {
  h4 {
    font-variant: small-caps;
    margin-bottom: 5px;
  }
  position: fixed;
  bottom: 50px;
  left: 20px;
  background: white;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.3);
  width: 800px;
  height: 110px;
  z-index: 9000;
  border: 4px solid #330055;
  button {
    margin-right: 5px;
  }
}
