@import "./globals.scss";

.container {
  width: 100vw;

  :global(.bx--text-input-wrapper) {
    margin-bottom: 10px;
  }
  span {
    display: inline-block;
    max-width: 300px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.form {
  min-width: 300px;
  margin: 15px;
}
