@mixin general-ui {
  background: white;
  padding: 0.5rem;
  padding: {
    left: 2rem;
    right: 2rem;
  }
  border-radius: 3px;
}

.card {
  @include general-ui();
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.button {
  @include general-ui();
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 200ms ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.05);
  }

  h3 {
    user-select: none;
  }
}

.choiceContainer {
  padding-left: 0;
  list-style-type: none;
}

.choice {
  @include general-ui();
  padding-left: 1rem;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}
