$sidebarWidth: 16rem;

$_actualPagePadding: 1rem;

.container {
  min-height: 100vh;
  padding-left: $sidebarWidth;
  padding-right: $sidebarWidth;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
}

.content {
  padding: $_actualPagePadding;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  color: #222;
  text-decoration: none;
}
